__pycache__
venv
/data
/export_data
*.exe
/installer-mac/**/
/installer-mac/*.dmg
.python-version
*.lock
*.csv
*.zip
/data/*.csv
*.csv
/log
vercel
.vercel
node_modules/
npm-debug.log
*.json
!package.json
!package-lock.json
!guide_training.json
!guide_translations/*.json

# Google Drive API credentials (DO NOT COMMIT)
credentials.json
token.json
*.pickle
*.env
index_temp.html

.history/

*.dmg

generate_heavy_csv.py

/static/vendor/

*.pem