__pycache__
venv
/data
/export_data
*.exe
/installer-mac/**/
/installer-mac/*.dmg
.python-version
*.lock
*.zip
*.txt
*.json
/log
vercel
node_modules
# Ignore all .csv files everywhere
*.csv

# Exception: Do not ignore .csv files inside sample_data (or its subfolders)
!sample_data/*.csv
!sample_data/**/*.csv